:root {
  background-color:#2260cb;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do {
  width: 900px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 500px;
}

.list {
  gap: 5px;
}

.input {
  width: 74%;
}

.btn {
  margin: 15px;
}

.btns {
  display: flex;
  gap: 5px;
}

.delete-btn {
  padding: 0;
  line-height: 0;
}

img {
  height: 20px;
  width: 20px;
}

.task {
  border-style: double;
  background-color: #c6e1e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.deleting {
  transition: background-color .3s ease;
  background-color: #2260cb;
}

.strikethrough {
  text-decoration: line-through;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
